.root, .maproot{
		/*-fx-background-image: url("../../GUI_Assets/WelcomeWindow/metal.jpg"); */
		-fx-background-image: url("../../GUI_Assets/WelcomeWindow/iron_texture.jpg");
		/*-fx-background-image: url("../../GUI_Assets/MapWindow/base_field.png");*/
	
		-fx-background-repeat: stretch ;
}

.button{
	-fx-effect : dropshadow(gaussian ,rgba(0,0,0,0.5), 10,0,0,10); 
	-fx-background-color: yellow;
	-fx-font-family: "DestructoBeam BB";
	-fx-font-size: 20px;
}

.button:hover{
	-fx-background-color: green;
}

#courseList{
	-fx-stroke: yellow;
	-fx-stroke-width: 20px;
	-fx-background-color: rgba(0,0,0,0);
	-fx-max-width: 600px;
}
/* 
#start{
	-fx-background-color: red;
}

#start:hover{
	-fx-background-color: yellow;
	-fx-text-fill: #29870a;
}
*/
#dizzydash{
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-background-size: 50px;
	-fx-font-family: "DestructoBeam BB";
	-fx-font-size: 50px;
	
}
#dizzyImage{
		-fx-background-image: url("../../GUI_Assets/WelcomeWindow/dizzy.jpg");
}

.label{
	-fx-background-color: yellow;
	-fx-font-family: "DestructoBeam BB";
	-fx-font-size: 50px;
}


#playerNameLabel{
	-fx-font-size: 50px;
	-fx-background-color: green;
	-fx-font-family: "DestructoBeam BB";
	
}
/*
#deal{
	-fx-font-size: 20px;
	-fx-background-color: red;
	-fx-font-family: "DestructoBeam BB"
}
 
#deal:hover{
	-fx-background-color: green;
}*/


